.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: var(--header-bgcolor);
  font-family: var(--header-font);
  color: var(--white);
  overflow: hidden;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.header-top img {
  margin-top: 30px;
  margin-left: 50px;
}

.header-top .header-btn {
  display: block;
  padding: 10px 35px;
  font-weight: 600;
  font-size: 0.9rem;
  background-color: transparent;
  color: var(--white);
  border: 1px solid var(--header-contact-col);
  border-radius: 8px;
  margin-top: 20px;
  margin-right: 40px;
  cursor: pointer;
}

.header-top-btns {
  display: flex;
  align-items: baseline;
}

.header-top .header-btn:hover {
  background-color: var(--header-contact-col);
  color: var(--black);
}

.header-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.header-bottom-div {
  text-align: center;
  margin-top: -130px;
}

.header-h1 {
  font-weight: 900;
  font-size: 3.5rem;
  width: 80vw;
  text-align: center;
  
  /* background-color: aqua; */
}

.header-h1-span {
  color: var(--header-span);
  position: relative;
  top: -70px;
  left: 180px;
}

.header-bottom-div p {
  text-align: center;
}

.header-bottom-div2 {
  text-align: center;
  margin-top: 50px;
}

.header-bottom-div2 input {
  color: var(--black);
  border: 1px solid var(--header-contact-col);
  padding: 14px 23px;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 6px 0 0 6px;
  outline: none;
}

.header-bottom-div2 button {
  color: inherit;
  background-color: var(--header-contact-col);
  border: 1px solid var(--header-contact-col);
  padding: 14px 25px;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
}

.header-bottom-div2 button:hover {
  box-shadow: 3px 1px 1px 3px var(--header-contact-col);
}

/*
NEW CSS CODE
*/

.slider {
  align-self: center;
  position: relative;
}

.caption {
  /* line-height: 100px; */
  color: var(--header-span);

  font-weight: 800;
  font-size: 3.5rem;

  position: relative;

  /* transform: translateY(-50%); */
}

.text-box {
  position: relative;
}

.header-row {
  display: flex;
  position: relative;
  background-color: antiquewhite;
}

.text-box div {
  position: relative;
display: block;
  /* transform: rotateX(-90deg); */
  /* opacity: 0; */
  /* animation-timing-function: ease; */
  /* margin-top: 7px; */
}

.header-h1-span span:nth-child(1) {  
  animation: spanroll1 2s forwards infinite ;
  opacity: 0;
}

.header-h1-span span:nth-child(2) {
  animation: spanroll2 2s 1s forwards infinite ;  
  opacity: 0;
}



/* .text-box div:nth-child(1) {
  animation: rollDown 10s forwards infinite;
}

.text-box div:nth-child(2) {
  animation: rollDown2 10s forwards infinite;
}

.text-box div:nth-child(3) {
  animation: rollDown3 10s forwards infinite;
}

@keyframes rollDown {
  0% {
    top: 0px;
    transform: rotateX(0deg);
  }
  11% {
    top: 70px;
    transform: rotateX(0deg);

    opacity: 1;
  }
  22% {
    top: -74px;
    transform: rotateX(0deg);

    opacity: 1;
  }
  33% {
    top: 0px;
    transform: rotateX(0deg);

    opacity: 1;
  }

  70% {
    top: 20px;
    transform: rotateX(0deg);
    opacity: 1;
  }

  90% {
    top: 20px;
    transform: rotateX(0deg);
    opacity: 1;
  }
}

@keyframes rollDown2 {
  33% {
    top: -70px;
    transform: rotateX(-90deg);
  }
  44% {
    top: 0px;
    transform: rotateX(0deg);
    opacity: 1;
  }
  55% {
    top: -74px;
    transform: rotateX(0deg);
    opacity: 1;
  }
  66% {
    top: 50px;
    transform: rotateX(30deg);
    opacity: 0;
  }
} */

/*
@keyframes rollDown3 {
  66% {
    top: -200px;
    transform: rotateX(-90deg);
  }
  77% {
    top: -74px;
    transform: rotateX(0deg);
    opacity: 1;
  }
  88% {
    top: -74px;
    transform: rotateX(0deg);
    opacity: 1;
  }
  99% {
    top: 50px;
    transform: rotateX(30deg);
    opacity: 0;
  }
} */

@keyframes spanroll1 {
  0% {
    top: 0px;
    opacity: 1;
    transform: rotateX(0deg);
  }

  30% {
    opacity: 0;
  }

  50% {
    top: 40px;
    opacity: 0;
  }
  
  75% {
    top: -40px;
    opacity: 0;    
    transform: rotateX(-40deg);
  }
  

  100% {
    top: 0px;
    opacity: 1;
    transform: rotateX(0deg);
  }
}

@keyframes spanroll2 {
  0% {
    top: 0px;
    opacity: 1;
    transform: rotateX(0deg);
  }

  30% {
    opacity: 0;
  }

  50% {
    top: 40px;
    opacity: 0;
  }
  
  75% {
    top: -40px;
    opacity: 0;    
    transform: rotateX(-40deg);
  }
  

  100% {
    top: 0px;
    opacity: 1;
    transform: rotateX(0deg);
  }
  
}